.faded-indigo {
  background-color: #374250 !important;
  border-color: #374250 !important;
}
.faded-indigo--text {
  color: #374250 !important;
}
.faded-indigo--text input,
.faded-indigo--text textarea {
  caret-color: #374250 !important;
}
.faded-indigo.lighten-5 {
  background-color: #ede7f6 !important;
  border-color: #ede7f6 !important;
}
.faded-indigo--text.text--lighten-5 {
  color: #ede7f6 !important;
}
.faded-indigo--text.text--lighten-5 input,
.faded-indigo--text.text--lighten-5 textarea {
  caret-color: #ede7f6 !important;
}
.faded-indigo.lighten-4 {
  background-color: #d1c4e9 !important;
  border-color: #d1c4e9 !important;
}
.faded-indigo--text.text--lighten-4 {
  color: #d1c4e9 !important;
}
.faded-indigo--text.text--lighten-4 input,
.faded-indigo--text.text--lighten-4 textarea {
  caret-color: #d1c4e9 !important;
}
.faded-indigo.lighten-3 {
  background-color: #b39ddb !important;
  border-color: #b39ddb !important;
}
.faded-indigo--text.text--lighten-3 {
  color: #b39ddb !important;
}
.faded-indigo--text.text--lighten-3 input,
.faded-indigo--text.text--lighten-3 textarea {
  caret-color: #b39ddb !important;
}
.faded-indigo.lighten-2 {
  background-color: #9575cd !important;
  border-color: #9575cd !important;
}
.faded-indigo--text.text--lighten-2 {
  color: #9575cd !important;
}
.faded-indigo--text.text--lighten-2 input,
.faded-indigo--text.text--lighten-2 textarea {
  caret-color: #9575cd !important;
}
.faded-indigo.lighten-1 {
  background-color: #7e57c2 !important;
  border-color: #7e57c2 !important;
}
.faded-indigo--text.text--lighten-1 {
  color: #7e57c2 !important;
}
.faded-indigo--text.text--lighten-1 input,
.faded-indigo--text.text--lighten-1 textarea {
  caret-color: #7e57c2 !important;
}
.faded-indigo.darken-1 {
  background-color: #5e35b1 !important;
  border-color: #5e35b1 !important;
}
.faded-indigo--text.text--darken-1 {
  color: #5e35b1 !important;
}
.faded-indigo--text.text--darken-1 input,
.faded-indigo--text.text--darken-1 textarea {
  caret-color: #5e35b1 !important;
}
.faded-indigo.darken-2 {
  background-color: #512da8 !important;
  border-color: #512da8 !important;
}
.faded-indigo--text.text--darken-2 {
  color: #512da8 !important;
}
.faded-indigo--text.text--darken-2 input,
.faded-indigo--text.text--darken-2 textarea {
  caret-color: #512da8 !important;
}
.faded-indigo.darken-3 {
  background-color: #4527a0 !important;
  border-color: #4527a0 !important;
}
.faded-indigo--text.text--darken-3 {
  color: #4527a0 !important;
}
.faded-indigo--text.text--darken-3 input,
.faded-indigo--text.text--darken-3 textarea {
  caret-color: #4527a0 !important;
}
.faded-indigo.darken-4 {
  background-color: #311b92 !important;
  border-color: #311b92 !important;
}
.faded-indigo--text.text--darken-4 {
  color: #311b92 !important;
}
.faded-indigo--text.text--darken-4 input,
.faded-indigo--text.text--darken-4 textarea {
  caret-color: #311b92 !important;
}
.faded-indigo.accent-1 {
  background-color: #b388ff !important;
  border-color: #b388ff !important;
}
.faded-indigo--text.text--accent-1 {
  color: #b388ff !important;
}
.faded-indigo--text.text--accent-1 input,
.faded-indigo--text.text--accent-1 textarea {
  caret-color: #b388ff !important;
}
.faded-indigo.accent-2 {
  background-color: #7c4dff !important;
  border-color: #7c4dff !important;
}
.faded-indigo--text.text--accent-2 {
  color: #7c4dff !important;
}
.faded-indigo--text.text--accent-2 input,
.faded-indigo--text.text--accent-2 textarea {
  caret-color: #7c4dff !important;
}
.faded-indigo.accent-3 {
  background-color: #651fff !important;
  border-color: #651fff !important;
}
.faded-indigo--text.text--accent-3 {
  color: #651fff !important;
}
.faded-indigo--text.text--accent-3 input,
.faded-indigo--text.text--accent-3 textarea {
  caret-color: #651fff !important;
}
.faded-indigo.accent-4 {
  background-color: #6200ea !important;
  border-color: #6200ea !important;
}
.faded-indigo--text.text--accent-4 {
  color: #6200ea !important;
}
.faded-indigo--text.text--accent-4 input,
.faded-indigo--text.text--accent-4 textarea {
  caret-color: #6200ea !important;
}
